body{
    background: #333333;
}

.menu{
    background: #5555ff;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

a, .separadorMenu{
    font-size: 32px;
    display:inline;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: red;
}

a:active {
    text-decoration: underline;
    color: red;
}

*{
    padding: 0;
    margin: 0;
}

img{
    margin: 10px;
}